apiVersion: apps/v1
kind: Deployment
metadata:
  name: headscale
  namespace: headscale
spec:
  replicas: 1
  selector:
    matchLabels:
      app: headscale
  template:
    metadata:
      labels:
        app: headscale
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
      containers:
      - name: headscale
        image: headscale/headscale:0.23.0
        args: ["serve", "-c", "/config/config.yaml"]
        ports:
        - containerPort: 8080
          name: http
        - containerPort: 8081
          name: webui
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
        volumeMounts:
        - name: config
          mountPath: /config
        - name: data
          mountPath: /var/lib/headscale
      volumes:
      - name: config
        secret:
          secretName: headscale-config
      - name: data
        emptyDir: {}
