apiVersion: apps/v1
kind: Deployment
metadata:
  name: headscale
  namespace: headscale
spec:
  replicas: 1
  selector:
    matchLabels:
      app: headscale
  template:
    metadata:
      labels:
        app: headscale
    spec:
      nodeSelector:
        kubernetes.io/hostname: talos-otl-obc
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: headscale
        image: headscale/headscale:v0.27.0
        args: ["serve", "-c", "/etc/headscale/config.yaml"]
        ports:
        - containerPort: 8080
          name: http
        - containerPort: 8081
          name: webui
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
        volumeMounts:
        - name: config
          mountPath: /etc/headscale
        - name: data
          mountPath: /var/lib/headscale
        - name: run
          mountPath: /var/run/headscale
      volumes:
      - name: config
        secret:
          secretName: headscale-config
      - name: data
        persistentVolumeClaim:
          claimName: headscale-data-pvc
      - name: run
        emptyDir: {}