:root {
  --color-background: #282828 !important;
  --color-text-base: #ebdbb2 !important;
  --color-primary: #b16286 !important;
  --color-positive: #b8bb26 !important;
  --color-negative: #fb4934 !important;
}
