apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 10m
  targetNamespace: traefik
  chart:
    spec:
      chart: traefik
      version: "37.4.0"
      sourceRef:
        kind: HelmRepository
        name: traefik-charts
        namespace: flux-system
  install:
    createNamespace: false
  values:
    additionalArguments:
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
    deployment:
      replicas: 1
    env:
      - name: PORKBUN_API_KEY
        valueFrom:
          secretKeyRef:
            name: porkbun-credentials
            key: PORKBUN_API_KEY
      - name: PORKBUN_SECRET_API_KEY
        valueFrom:
          secretKeyRef:
            name: porkbun-credentials
            key: PORKBUN_SECRET_API_KEY
    ports:
      web:
        port: 80
        protocol: TCP
      websecure:
        port: 443
        protocol: TCP
    persistence:
      enabled: true
      path: /data
      size: 1Gi
      storageClass: longhorn
    ingressRoute:
      dashboard:
        enabled: false
    service:
      annotations:
        metallb.universe.tf/address-pool: service-pool
      loadBalancerIP: 192.168.0.200
      type: LoadBalancer
    certificatesResolvers:
      porkbun:
        acme:
          email: marko@markonakic.xyz
          storage: /data/acme.json
          dnsChallenge:
            provider: porkbun
            delayBeforeCheck: 30

