apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 10m
  chart:
    spec:
      chart: traefik
      version: 37.4.0
      sourceRef:
        kind: HelmRepository
        name: traefik-charts
        namespace: flux-system
  install:
    createNamespace: false
  values:
    deployment:
      replicas: 1

    ports:
      web:
        port: 80
        expose: true
        protocol: TCP
      websecure:
        port: 443
        expose: true
        protocol: TCP

    service:
      type: LoadBalancer
