apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 10m
  targetNamespace: traefik
  chart:
    spec:
      chart: traefik
      version: "37.4.0"
      sourceRef:
        kind: HelmRepository
        name: traefik-charts
        namespace: flux-system
  install:
    createNamespace: false
  values:
    deployment:
      replicas: 1
    ports:
      web:
        port: 80
        protocol: TCP
      websecure:
        port: 443
        protocol: TCP
    service:
      type: NodePort

