apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrepository.yaml
  - helmrelease.yaml
  - ingressroute-headscale.yaml
  - ingressroute-headplane.yaml
  - ingressroute-pihole.yaml
