apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrepository.yaml
  - helmrelease.yaml
  # IPAddressPool and L2Advertisement will be added after Helm chart installs CRDs
  # - ipaddresspool.yaml
  # - l2advertisement.yaml
