apiVersion: apps/v1
kind: Deployment
metadata:
  name: pihole
  namespace: pihole
  labels:
    app: pihole
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pihole
  template:
    metadata:
      labels:
        app: pihole
    spec:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 1000
      containers:
      - name: pihole
        image: pihole/pihole:2024.03.0
        ports:
        - containerPort: 80
          name: http
        - containerPort: 53
          name: dns-tcp
          protocol: TCP
        - containerPort: 53
          name: dns-udp
          protocol: UDP
        env:
        - name: TZ
          value: "Europe/Zagreb"
        - name: WEBPASSWORD
          value: "lrrIjcwirQZzkh1z"
        - name: PIHOLE_DNS_
          value: "1.1.1.1;9.9.9.9;8.8.8.8;8.8.4.4"
        - name: DNSSEC
          value: "true"
        - name: DNS_BOGUS_PRIV
          value: "true"
        - name: DNS_FQDN_REQUIRED
          value: "true"
        livenessProbe:
          httpGet:
            path: /admin/
            port: http
          initialDelaySeconds: 60
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /admin/
            port: http
          initialDelaySeconds: 30
          periodSeconds: 5
        securityContext:
          allowPrivilegeEscalation: true
          capabilities:
            add: ["NET_ADMIN", "NET_RAW", "SYS_ADMIN"]
          runAsUser: 0
          runAsGroup: 0
        volumeMounts:
        - name: config
          mountPath: /etc/pihole
        - name: dnsmasq
          mountPath: /etc/dnsmasq.d
        - name: run
          mountPath: /run
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: pihole-data-pvc
      - name: dnsmasq
        emptyDir: {}
      - name: run
        emptyDir: {}