apiVersion: v1
kind: Service
metadata:
  name: pihole-dns
  namespace: pihole
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.0.200
  ports:
  - port: 53
    protocol: UDP
    name: dns
  selector:
    app: pihole
---
apiVersion: v1
kind: Service
metadata:
  name: pihole-web
  namespace: pihole
spec:
  type: ClusterIP
  ports:
  - port: 80
    name: http
  selector:
    app: pihole