apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - repository.yaml
  - release.yaml
  - ingress.yaml
  - middleware-auth.yaml
  - recurring-jobs/recurringjob-headscale-daily.yaml
  - recurring-jobs/recurringjob-snapshot-daily.yaml
