{{/* Headscale Nodes Widget Template */}}
{{/* Adapted from Tailscale widget */}}
{{/* Set to true if you'd like an indicator for online devices */}}
{{ $enableOnlineIndicator := true }}

<ul class="list list-gap-10 collapsible-container" data-collapse-after="4">
  {{ range .JSON.Array "nodes" }}
  <li>
    <div class="flex items-center gap-10">
      <div class="device-name-container grow">
        <span class="size-h4 block text-truncate color-primary">
          {{ .String "givenName" }}
        </span>
        <div class="indicators-container">
          {{ $online := .Bool "online" }}
          {{ if $online }}
            {{ if $enableOnlineIndicator }}
            <span class="online-indicator" data-popover-type="text" data-popover-text="Online"></span>
            {{ end }}
          {{ else }}
            {{ $lastSeen := .String "lastSeen" | parseTime "rfc3339" }}
            {{ $lastSeenTimezoned := $lastSeen.In now.Location }}
            <span class="offline-indicator" data-popover-type="text"
              data-popover-text="Offline - Last seen {{ $lastSeenTimezoned.Format "Jan 2 3:04pm" }}"></span>
          {{ end }}

          {{/* Show router indicator if node has approved routes */}}
          {{ $routes := .Array "approvedRoutes" }}
          {{ if gt (len $routes) 0 }}
          <span class="router-indicator" data-popover-type="text"
            data-popover-text="Router - {{ range $i, $route := $routes }}{{ if $i }}, {{ end }}{{ $route }}{{ end }}"></span>
          {{ end }}
        </div>
      </div>
      {{/* Show tags if present */}}
      {{ $tags := .Array "validTags" }}
      {{ if gt (len $tags) 0 }}
      <div class="flex gap-5">
        {{ range $tags }}
        {{ $tagValue := .Str }}
        <span class="tag-badge">{{ $tagValue | trimPrefix "tag:" }}</span>
        {{ end }}
      </div>
      {{ end }}
    </div>
    <div class="device-info-container">
      <ul class="list-horizontal-text device-info">
        <li>{{ .String "user.name" }}</li>
      </ul>
      <div class="device-ip">
        {{ .String "ipAddresses.0" }}
      </div>
    </div>
  </li>
  {{ end }}
</ul>
